In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm as tqdm

In [2]:
day_i = pd.read_csv('data/Metro_testB/record_2019-01-26.csv')

In [3]:
day_i.head()

,time,lineID,stationID,deviceID,status,userID,payType
0,2019-01-26 00:00:02,C,55,2644,0,B61190c49383709148037b817380b568d,1
1,2019-01-26 00:00:03,C,43,2004,0,B26531cd9eb17acd0d1bd5dc0ad861ea2,1
2,2019-01-26 00:00:03,B,16,875,0,C978f4c5213bc3d01a8382cc62c5fd49d,2
3,2019-01-26 00:00:03,B,8,403,0,D673ffea0fa703d5823de45077f47c5da,3
4,2019-01-26 00:00:04,B,8,405,0,Bf09db6dca54ee9fb2c530037091a8fca,1

In [4]:
predict = pd.read_csv('data/Metro_testB/testB_submit_2019-01-27.csv')

In [5]:
predict.head()

   stationID            startTime              endTime  inNums  outNums
0          0  2019-01-27 00:00:00  2019-01-27 00:10:00     NaN      NaN
1          0  2019-01-27 00:10:00  2019-01-27 00:20:00     NaN      NaN
2          0  2019-01-27 00:20:00  2019-01-27 00:30:00     NaN      NaN
3          0  2019-01-27 00:30:00  2019-01-27 00:40:00     NaN      NaN
4          0  2019-01-27 00:40:00  2019-01-27 00:50:00     NaN      NaN

In [6]:
19//10

1

In [7]:
day_i['time'] = pd.to_datetime(day_i.time)
day_i['minute_count'] = (day_i['time'].dt.minute+day_i['time'].dt.hour*60)//10

In [8]:
predict['time'] = pd.to_datetime(predict['startTime'])
predict['minute_count'] = (predict['time'].dt.minute+predict['time'].dt.hour*60)//10

In [9]:
predict.head()

,stationID,startTime,endTime,inNums,outNums,time,minute_count
0,0,2019-01-27 00:00:00,2019-01-27 00:10:00,NaN,NaN,2019-01-27 00:00:00,0
1,0,2019-01-27 00:10:00,2019-01-27 00:20:00,NaN,NaN,2019-01-27 00:10:00,1
2,0,2019-01-27 00:20:00,2019-01-27 00:30:00,NaN,NaN,2019-01-27 00:20:00,2
3,0,2019-01-27 00:30:00,2019-01-27 00:40:00,NaN,NaN,2019-01-27 00:30:00,3
4,0,2019-01-27 00:40:00,2019-01-27 00:50:00,NaN,NaN,2019-01-27 00:40:00,4

In [10]:
day_i['status'].value_counts()

1    1123837
0    1121707
Name: status, dtype: int64

In [11]:
out = day_i[day_i.status==0]
come = day_i[day_i.status==1]

In [12]:
come_count = come.groupby(['stationID','minute_count'],as_index=False).agg({'status':'count'})
out_count = out.groupby(['stationID','minute_count'],as_index=False).agg({'status':'count'})

In [13]:
come_count.head()

   stationID  minute_count  status
0          0            33      13
1          0            34      33
2          0            35      31
3          0            36      49
4          0            37      53

In [14]:
predict.head()

,stationID,startTime,endTime,inNums,outNums,time,minute_count
0,0,2019-01-27 00:00:00,2019-01-27 00:10:00,NaN,NaN,2019-01-27 00:00:00,0
1,0,2019-01-27 00:10:00,2019-01-27 00:20:00,NaN,NaN,2019-01-27 00:10:00,1
2,0,2019-01-27 00:20:00,2019-01-27 00:30:00,NaN,NaN,2019-01-27 00:20:00,2
3,0,2019-01-27 00:30:00,2019-01-27 00:40:00,NaN,NaN,2019-01-27 00:30:00,3
4,0,2019-01-27 00:40:00,2019-01-27 00:50:00,NaN,NaN,2019-01-27 00:40:00,4

In [15]:
predict_new = predict.merge(come_count,on=['stationID','minute_count'],how='left')
predict['inNums'] = list(predict_new['status'])
predict_new = predict.merge(out_count,on=['stationID','minute_count'],how='left')
predict['outNums'] = list(predict_new['status'])

In [16]:
predict.shape

(11664, 7)

In [17]:
# come

In [18]:
# temp
come = pd.read_pickle('come.pkl').rename(columns={'minute':'minute_count'})
predict['inNums']  = list(predict.merge(come,on=['stationID','minute_count'])['label'])
out = pd.read_pickle('out.pkl').rename(columns={'minute':'minute_count'})
predict['outNums']  = list(predict.merge(out,on=['stationID','minute_count'])['label'])

In [19]:
predict.fillna(0,inplace=True)

In [20]:
predict[['stationID','startTime','endTime','inNums','outNums']].to_csv('result/testA_submit_2019-01-29_v2.csv',index=False)

In [21]:
predict

,stationID,startTime,endTime,inNums,outNums,time,minute_count
0,0,2019-01-27 00:00:00,2019-01-27 00:10:00,-0.036537,6.335229e-01,2019-01-27 00:00:00,0
1,0,2019-01-27 00:10:00,2019-01-27 00:20:00,-0.009272,8.501295e-01,2019-01-27 00:10:00,1
2,0,2019-01-27 00:20:00,2019-01-27 00:30:00,-0.000146,9.466170e-01,2019-01-27 00:20:00,2
3,0,2019-01-27 00:30:00,2019-01-27 00:40:00,0.001512,1.657815e-01,2019-01-27 00:30:00,3
4,0,2019-01-27 00:40:00,2019-01-27 00:50:00,0.000006,9.747600e-03,2019-01-27 00:40:00,4
5,0,2019-01-27 00:50:00,2019-01-27 01:00:00,0.000006,4.505799e-13,2019-01-27 00:50:00,5
6,0,2019-01-27 01:00:00,2019-01-27 01:10:00,0.000006,4.505799e-13,2019-01-27 01:00:00,6
7,0,2019-01-27 01:10:00,2019-01-27 01:20:00,0.000006,4.505799e-13,2019-01-27 01:10:00,7
8,0,2019-01-27 01:20:00,2019-01-27 01:30:00,0.000006,4.505799e-13,2019-01-27 01:20:00,8
9,0,2019-01-27 01:30:00,2019-01-27 01:40:00,0.000006,4.505799e-13,2019-01-27 01:30:00,9
10,0,2019-01-27 01:40:00,2019-01-27 01:50:00,0.000006,4.505799e-13,2019-01-27 01:40:00,10
11,0,2019-01-27 01:50:00,2019-01-27 02:00:00,0.000006,4.505799e-13,2019-01-27 01:50:00,11
12,0,2019-01-27 02:00:00,2019-01-27 02:10:00,0.000006,4.505799e-13,2019-01-27 02:00:00,12
13,0,2019-01-27 02:10:00,2019-01-27 02:20:00,0.000006,4.505799e-13,2019-01-27 02:10:00,13
14,0,2019-01-27 02:20:00,2019-01-27 02:30:00,0.000006,4.505799e-13,2019-01-27 02:20:00,14
15,0,2019-01-27 02:30:00,2019-01-27 02:40:00,0.000006,4.505799e-13,2019-01-27 02:30:00,15
16,0,2019-01-27 02:40:00,2019-01-27 02:50:00,0.000006,4.505799e-13,2019-01-27 02:40:00,16
17,0,2019-01-27 02:50:00,2019-01-27 03:00:00,0.000006,4.505799e-13,2019-01-27 02:50:00,17
18,0,2019-01-27 03:00:00,2019-01-27 03:10:00,0.000006,4.505799e-13,2019-01-27 03:00:00,18
19,0,2019-01-27 03:10:00,2019-01-27 03:20:00,0.000006,4.505799e-13,2019-01-27 03:10:00,19
20,0,2019-01-27 03:20:00,2019-01-27 03:30:00,0.000006,4.505799e-13,2019-01-27 03:20:00,20
21,0,2019-01-27 03:30:00,2019-01-27 03:40:00,0.000006,4.505799e-13,2019-01-27 03:30:00,21
22,0,2019-01-27 03:40:00,2019-01-27 03:50:00,0.000187,4.505799e-13,2019-01-27 03:40:00,22
23,0,2019-01-27 03:50:00,2019-01-27 04:00:00,0.125381,-3.260793e-05,2019-01-27 03:50:00,23
24,0,2019-01-27 04:00:00,2019-01-27 04:10:00,0.000187,2.480229e-01,2019-01-27 04:00:00,24
25,0,2019-01-27 04:10:00,2019-01-27 04:20:00,0.000006,-2.678890e-05,2019-01-27 04:10:00,25
26,0,2019-01-27 04:20:00,2019-01-27 04:30:00,0.000006,4.505799e-13,2019-01-27 04:20:00,26
27,0,2019-01-27 04:30:00,2019-01-27 04:40:00,0.000009,8.141925e-02,2019-01-27 04:30:00,27
28,0,2019-01-27 04:40:00,2019-01-27 04:50:00,0.000006,5.087487e-04,2019-01-27 04:40:00,28
29,0,2019-01-27 04:50:00,2019-01-27 05:00:00,0.000006,4.505799e-13,2019-01-27 04:50:00,29
...,...,...,...,...,...,...,...
11634,80,2019-01-27 19:00:00,2019-01-27 19:10:00,21.686599,4.093793e+01,2019-01-27 19:00:00,114
11635,80,2019-01-27 19:10:00,2019-01-27 19:20:00,17.553392,3.395278e+01,2019-01-27 19:10:00,115
11636,80,2019-01-27 19:20:00,2019-01-27 19:30:00,22.787852,3.879904e+01,2019-01-27 19:20:00,116
11637,80,2019-01-27 19:30:00,2019-01-27 19:40:00,17.256349,3.481698e+01,2019-01-27 19:30:00,117
11638,80,2019-01-27 19:40:00,2019-01-27 19:50:00,18.129269,4.126298e+01,2019-01-27 19:40:00,118
11639,80,2019-01-27 19:50:00,2019-01-27 20:00:00,22.283373,3.072368e+01,2019-01-27 19:50:00,119
11640,80,2019-01-27 20:00:00,2019-01-27 20:10:00,21.577144,3.870242e+01,2019-01-27 20:00:00,120
11641,80,2019-01-27 20:10:00,2019-01-27 20:20:00,23.163614,3.724331e+01,2019-01-27 20:10:00,121
11642,80,2019-01-27 20:20:00,2019-01-27 20:30:00,21.958243,3.771695e+01,2019-01-27 20:20:00,122
11643,80,2019-01-27 20:30:00,2019-01-27 20:40:00,23.637145,4.068935e+01,2019-01-27 20:30:00,123
11644,80,2019-01-27 20:40:00,2019-01-27 20:50:00,14.389671,3.950740e+01,2019-01-27 20:40:00,124
11645,80,2019-01-27 20:50:00,2019-01-27 21:00:00,17.720403,3.721051e+01,2019-01-27 20:50:00,125
11646,80,2019-01-27 21:00:00,2019-01-27 21:10:00,15.365991,3.738808e+01,2019-01-27 21:00:00,126
11647,80,2019-01-27 21:10:00,2019-01-27 21:20:00,18.328832,3.835180e+01,2019-01-27 21:10:00,127
11648,80,2019-01-27 21:20:00,2019-01-27 21:30:00,15.598787,3.490939e+01,2019-01-27 21:20:00,128
11649,80,2019-01-27 21:30:00,2019-01-27 21:40:00,15.103764,3.907442e+01,2019-01-27 21:30:00,129
11650,80,2019-01-27 21:40:00,2019-01-27 21:50:00,14.688614,3.044613e+01,2019-01-27 21:40:00,130
11651,80,2019-01-27 21:50:00,2019-01-27 22:00:00,11.213510,3.985912e+01,2019-01-27 21:50:00,131
11652,80,2019-01-27 22:00:00,2019-01-27 22:10:00,11.661212,3.284853e+01,2019-01-27 22:00:00,132
11653,80,2019-01-27 22:10:00,2019-01-27 22:20:00,11.118196,3.521270e+01,2019-01-27 22:10:00,133
11654,80,2019-01-27 22:20:00,2019-01-27 22:30:00,7.986200,4.111035e+01,2019-01-27 22:20:00,134
11655,80,2019-01-27 22:30:00,2019-01-27 22:40:00,7.232436,2.762591e+01,2019-01-27 22:30:00,135
11656,80,2019-01-27 22:40:00,2019-01-27 22:50:00,5.942318,3.229270e+01,2019-01-27 22:40:00,136
11657,80,2019-01-27 22:50:00,2019-01-27 23:00:00,3.520204,2.222567e+01,2019-01-27 22:50:00,137
11658,80,2019-01-27 23:00:00,2019-01-27 23:10:00,1.776128,7.911822e+00,2019-01-27 23:00:00,138
11659,80,2019-01-27 23:10:00,2019-01-27 23:20:00,1.320478,1.087636e+01,2019-01-27 23:10:00,139
11660,80,2019-01-27 23:20:00,2019-01-27 23:30:00,1.422679,3.353044e+00,2019-01-27 23:20:00,140
11661,80,2019-01-27 23:30:00,2019-01-27 23:40:00,0.583245,5.020907e+00,2019-01-27 23:30:00,141
11662,80,2019-01-27 23:40:00,2019-01-27 23:50:00,0.950991,5.469473e-01,2019-01-27 23:40:00,142
11663,80,2019-01-27 23:50:00,2019-01-28 00:00:00,1.141645,5.696992e-01,2019-01-27 23:50:00,143

In [22]:
predict.shape

(11664, 7)